*{
  box-sizing:border-box;
}
.site-logo{
  width:200px;
  margin-left:-16px;
}
.widget_recent_entries{
  padding-top: 50px;
}
.widget a {
  color: #eee;
  padding-bottom: 5px;
  /* border-bottom: 1px solid #26282d; */
  /* box-shadow:0 5px 15px -2px rgba(158,174,221,0.2); */
}
.site-header{
  position: fixed;
}
.site-footer,
.site-header,
#secondary,
.menu-toggle{
  background-color: #26282d;
  border:none;
}
.social{
  margin:0;
  padding:0;
  display: inline-flex;
  flex-direction: row;
}
.social-item{
  width:30px;
  height:30px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin:0 15px 15px 0;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 3px;
  box-shadow:0 5px 15px -2px rgba(158,174,221,0.2);
  transition: transform 0.25s ease-out;
}
.social-item:hover{
  transform: translateY(-2px);
}
.social-item:focus{
  outline:none;
}
.social-icon {
  border-radius:50%;
  width:24px !important;
  height:24px !important;
  color: #fff;
  margin-right:3px;
}
.social-icon:hover{
  color: #24890d;
}
.site::before {
    background-color: #26282d;
}
.search-toggle{
  display:flex;
  justify-content: center;
  align-items:center;
}
.search-toggle:before{
  margin-top: 0;
}
.search-box-wrapper{
  top:67px;
}
.search-box .search-field{
  padding: 10px;
}
.search-box{
  background: #26282d;
}
.social-heading{
	font-size: 11px;
	font-weight:700;
  color: #fff !important;
  text-transform: uppercase;
}
.primary-sidebar{
  padding-top:48px;
}
@media screen and (min-width: 768px) {
  .page_item{
    height:67px;
  }
  .social{
    flex-direction: column;
  }
  .primary-navigation{
    display: flex;
    align-items: center;
    height:67px;
    margin-right:67px;
  }
  .site::before {
      background-color: #26282d;
  }
  .search-toggle{
    width:67px;
    height:67px;
    margin-right:67px;
    margin-right:0;
  }
  .muted{
    color:#aaa !important;
  }
}
