		</div><!-- #main -->

		<footer id="colophon" class="site-footer" role="contentinfo">
			<div class="site-info">
				<p> 
					<a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target = "_blank"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
					<span class = 'year'></span> 
					<a href="/index.html" rel="home"> {{ .Site.Title }}</a> 
				</p>
				<p class = 'muted'>
				  Powered by
					<a href="http://gohugo.io" target = '_blank' rel = 'noopener'> Hugo</a>,
					Designed by 
					<a href = "https://neuralvibes.com/author/" target = '_blank' rel = 'noopener'>Weru</a>
				</p>
			</div><!-- .site-info -->
		</footer><!-- #colophon -->
	</div><!-- #page -->
	<script type='text/javascript' src='/js/jquery/jquery.js'></script>
	<script type='text/javascript' src='/js/jquery/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='/js/functions.js'></script>
	<script type='text/javascript' src='/js/index.js'></script>
</body>
</html>