<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode}}{{ . }}{{ else }}en-US{{end}}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>{{ if .IsPage }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}</title>
		{{ "<!--[if lt IE 9]>" | safeHTML }}
		<script src="{{ .Site.BaseURL }}/js/html5.js"></script>
		{{ "<![endif]-->" | safeHTML }}
		<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
		<link rel="manifest" href="/images/site.webmanifest">
		<link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#26282d">
		<link rel="shortcut icon" href="/images/favicon.ico">
		<meta name="msapplication-TileColor" content="#26282d">
		<meta name="msapplication-config" content="/images/browserconfig.xml">
		<meta name="theme-color" content="#26282d">  
		<link href="/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
		<link rel='stylesheet' id='twentyfourteen-lato-css'  href='//fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%2C900%2C300italic%2C400italic%2C700italic&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />

		<link rel='stylesheet' id='genericons-css' href='/genericons/genericons.css' type='text/css' media='all' />
		<link rel='stylesheet' id='twentyfourteen-style-css' href='/css/style.css' type='text/css' media='all' />
		<!--[if lt IE 9]>
			<link rel='stylesheet' id='twentyfourteen-ie-css'  href='/css/ie.css' type='text/css' media='all' />
			<![endif]-->
		<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
		<link rel='stylesheet' id='twentyfourteen-style-css' href='/css/custom.css' type='text/css' media='all' />
	</head>

	<body class="home blog masthead-fixed list-view full-width grid">
		<div id="page" class="hfeed site">
			<header id="masthead" class="site-header" role="banner">
				<div class="header-main">
					<h1 class="site-title">
						<a href="/index.html" rel="home">
							<!-- {{ .Site.Title }} -->
							<img src = '/images/logo.png' class = 'site-logo'>
						</a>
					</h1>

					<div class="search-toggle">
						<a href="#search-container" class="screen-reader-text">Search</a>
					</div>

					<nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
						<button class="menu-toggle">Primary Menu</button>
						<a class="screen-reader-text skip-link" href="#content">Skip to content</a>
						<div class="nav-menu">
							<ul>
								{{ range .Site.Menus.main }}
								<li class="page_item"> 
									<a href="{{ .URL }}">{{ .Name }}</a>
								</li>
								{{ end }}
							</ul>
						</div>
					</nav>
				</div>

				<div id="search-container" class="search-box-wrapper hide">
					<div class="search-box">
						{{ partial "searchform.html" . }}
					</div>
				</div>
			</header><!-- #masthead -->

			<div id="main" class="site-main">
