<div class = 'social'>
  <p class = 'social-heading'>Follow</p>
  {{ range .Site.Params.social }}
    <a class = 'social-item' href = '{{ .url }}' target = '_blank' rel = 'noopener'> 
      <img src = '/images/icons/{{ .name }}.png' class = 'social-icon' alt = '{{ .desc }}'>
    </a>
  {{ end}}
</div>